/* ///Car Card/////*/
#car-card {

  box-shadow: 1px 1px 5px 1px #000000;
}

#car-card:hover {

  box-shadow: 1px 1px 10px 1px #ccc;
}

.Cars {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.MyCars {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.car-thumbnail {
  width: 60px;
}

.owner-img {
  width: 50px;
}
.profile-img {
  width: 500px;
}

.profile-panels {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}
