#multi-form {
  background-color: #eee;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  border-radius: 12px

}
.UserForm {
  margin-top: 2%;
  margin-left: 32%;
  margin-right: 32%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgb(234 234 234);
  background-color: rgba(0,0,0,0.5) !important;
  border-radius: 12px;
}

.UserForm-mc {
  width: 25%;
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;

  padding-bottom: 1%;
  color: rgb(234 234 234);
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #000000;
}
.profile-panels {
float: left;

}


.TextField {
  color: white;
}
.UserForm-confirm {
  margin-left: 32%;
  margin-right: 32%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,0.5) !important;
  border-radius: 12px;
}


.UserForm-title {
  background-color: rgb(64 84 178);
  color: white;
  float: left;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}
.UserForm-title-mc {
  background-color: #333;
  color: white;
  padding-left: 26%;
  padding-right: 26%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.UserForm-title-mc1 {
  background-color: #333;
  color: white;
  padding-left: 35%;
  padding-right: 35%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.UserForm-title-mc2 {
  background-color: #333;
  color: white;
  padding-left: 27%;
  padding-right: 27%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
